<appSettings>
  <add key="username" value="jlee87.mathis"/>
  <add key="password" value="eyhoodbuqdpiqkxp" />
  <add key ="emailfrom" value="jlee87.mathis@gmail.com"/>
  <add key="emailto" value="jlee87.mathis@gmail.com" />
  <add key="host" value="smtp.gmail.com" />
  <add key="port" value="587"/>
</appSettings>