<div class="page-banner no-subtitle">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h2>Forgot PassWord Confirmation</h2>
            </div>
        </div>
    </div>
</div>
<div>
    <h2>
        Please check your email to reset your password.
    </h2>
</div>
	
